ul{
	
}
.header{
	position: fixed;
	z-index: 100;
	width:100%;
	height:70px;
	background-color: #1d242e;
}
h1.logo{
	float:left;
	cursor: pointer;
}
.logo .logo-icon{
	color: #04a5e6;
	font-size: 36px;
	float: left;
	margin: 0 0 0 20px;
}
.logo .site-name:hover{
	color: #fff;
}
h1 .site-name{
	float:left;
	font-size: 24px;
	font-weight: normal;
	color: #c3c3c3;
	margin: 0px 0 0 20px;
}
.drop-list{
	float:right;
	font-size: 26px;
	margin: 20px 20px 0 0;
	color: #fff;
	cursor: pointer;
}
.drop-list:hover{
	color:#04A5E6;
}

.content{
	position: absolute;
	z-index: 99;
	width: 100%;
	height: 100%;
	float: left;
}
.content .nav{
	position: fixed;
	float: left;
	z-index: 98;
	min-width: 260px;
	height: 100%;
	padding: 70px 0 0 0;
	background-color: #1d242e; /* 212935 */
}
.nav ul{
	list-style:none;
	margin:0;
	padding:0;
	width: 100%;
}
.nav ul li{
	display:block;
	line-height: 48px;
	padding-left: 60px;
	width: 100%;
	height: 48px;
	color: #ccc;
	cursor: pointer;
}
.nav ul li span{
	margin-right: 10px;
}
.nav ul li:hover,.nav ul li.current{
	background-color: #393939;
	color: #db4c31;
}
.content .main-content{
	position: absolute;
	z-index: 96;
	width: 100%;
	height: 100%;
	padding: 70px 0 0 260px;
	background-color: #fff;
}
.course-info{
	width: 100%;
	height: 300px;
	background-color: #ecf2f9;
}
.course-detail{
	width: 100%;
	height: 400px;
	background-color: #fff;
}
